@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/opensans_condensed-bold.woff2") format("woff2"), url("../fonts/opensans_condensed-bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/opensans_condensed-light.woff2") format("woff2"), url("../fonts/opensans_condensed-light.woff") format("woff");
  font-weight: 300;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  background: #333333;
  color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  background: #D1A954;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 100%;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.section-title-orange {
  color: #D1A954;
}

textarea {
  resize: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 1110px) {
  .container {
    max-width: 665px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 690px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 510px;
  }
}

.digits__desc-orange {
  color: #D1A954;
}

.header {
  background: url("../../img/webp/big_theatre_fon.webp");
  background-color: #808080;
  padding: 50px 0 179px;
  position: relative;
}
@media (max-width: 1110px) {
  .header {
    padding: 50px 0 363px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 50px 0 252px;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 50px 0 85px;
  }
}
.header .header__menu-btn {
  display: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 0;
  background-image: url("../../img/svg/menu.svg");
}
@media (max-width: 768px) {
  .header .header__menu-btn {
    display: block;
    margin: 0 0 107px;
  }
}
.header .header__nav-wrp {
  display: flex;
  justify-content: space-between;
  margin: 0 0 307px;
}
@media (max-width: 1110px) {
  .header .header__nav-wrp {
    flex-direction: column;
    font-size: 16px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin: 0 0 260px;
  }
}
@media (max-width: 768px) {
  .header .header__nav-wrp {
    display: none;
  }
  .header .header__nav-wrp--open {
    display: block;
    position: absolute;
    background: #333333;
    top: 0;
    left: 0;
    height: 100%;
    width: 300;
    padding: 30px 47px 30px 39px;
    margin: 0;
  }
}
@media (max-width: 576px) {
  .header .header__nav-wrp {
    display: none;
  }
}
.header .header__nav-wrp-close-btn {
  display: none;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  margin-bottom: 78px;
  background-image: url("../../img/svg/close.svg");
}
@media (max-width: 768px) {
  .header .header__nav-wrp-close-btn {
    display: block;
  }
}
.header .header__nav-list {
  display: flex;
}
@media (max-width: 1110px) {
  .header .header__nav-list {
    justify-content: space-between;
    margin: 0 0 29px;
  }
}
@media (max-width: 768px) {
  .header .header__nav-list {
    display: block;
    margin-bottom: 45px;
  }
}
.header .header__nav-link {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
}
@media (max-width: 1110px) {
  .header .header__nav-link {
    font-size: 16px;
    line-height: 100%;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .header .header__nav-link {
    font-size: 24px;
    line-height: 100%;
    font-weight: 700;
  }
}
.header .header__nav-item:nth-of-type(n+2) {
  margin-left: 63px;
}
@media (max-width: 1110px) {
  .header .header__nav-item:nth-of-type(n+2) {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .header .header__nav-item:nth-of-type(n+2):nth-of-type(n+2) {
    margin-top: 35px;
  }
}
.header .header__tel {
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.05rem;
}
.header .header__content-wrp {
  display: flex;
  justify-content: space-between;
}
.header .header__content {
  width: 540px;
  padding: 88px 0 0;
}
@media (max-width: 1110px) {
  .header .header__content {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .header .header__content {
    width: 100%;
  }
}
.header .header__title {
  text-transform: uppercase;
  font-size: 64px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0 0 50px;
}
@media (max-width: 576px) {
  .header .header__title {
    text-align: center;
  }
}
.header .header__desc {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0rem;
  margin: 0 0 50px;
}
.header .header__link-poster {
  width: 160px;
  min-height: 50px;
}
@media (max-width: 576px) {
  .header .header__link-poster {
    width: 505px;
    min-height: 62px;
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
}
@media (max-width: 1110px) {
  .header .header__slider {
    display: none;
  }
}
.header .header__slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.header .header__slider-img {
  width: 370;
  height: 570;
  margin: 0 0 36px;
}
.header .header__btn-wrp {
  display: flex;
  justify-content: space-between;
}
.header .header__btn {
  color: inherit;
  padding: 0;
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.about {
  padding: 150px 0 0;
}
@media (max-width: 1110px) {
  .about {
    padding: 144px 0 0;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 90px 0 0;
  }
}
@media (max-width: 576px) {
  .about {
    padding: 80px 0 0;
  }
}
.about .about__title {
  margin: 0 0 100px;
}
@media (max-width: 1110px) {
  .about .about__title {
    margin: 0 0 102px;
  }
}
@media (max-width: 768px) {
  .about .about__title {
    margin: 0 0 60px;
  }
}
.about .about__wpr {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .about .about__wpr {
    flex-direction: column;
  }
}
.about .about__item-content {
  width: 449px;
}
@media (max-width: 1110px) {
  .about .about__item-content {
    width: 431px;
  }
}
@media (max-width: 768px) {
  .about .about__item-content {
    width: 445px;
  }
}
@media (max-width: 576px) {
  .about .about__item-content {
    width: 505px;
    margin: 0 0 27px;
  }
}
.about .about__item-digits {
  width: 258px;
}
@media (max-width: 1110px) {
  .about .about__item-digits {
    width: 208px;
  }
}
@media (max-width: 576px) {
  .about .about__item-digits {
    width: 510px;
  }
}
.about .about__subtitle {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0 0 18px;
}
.about .about__subtitle--digits {
  margin: 0 0 60px;
}
@media (max-width: 1110px) {
  .about .about__subtitle {
    margin: 0 0 55px;
  }
  .about .about__subtitle--digits {
    margin: 0 0 72px;
  }
}
@media (max-width: 768px) {
  .about .about__subtitle {
    margin: 0 0 40px;
  }
  .about .about__subtitle--digits {
    margin: 0 0 40px;
  }
}
@media (max-width: 576px) {
  .about .about__subtitle {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .about .digits {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.about .about__desc {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0rem;
}
@media (max-width: 768px) {
  .about .about__desc {
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
  }
}
@media (max-width: 576px) {
  .about .about__desc {
    text-align: center;
  }
}
.about .about__img {
  width: 369;
  height: 323;
}
@media (max-width: 1110px) {
  .about .about__img {
    display: none;
  }
}

.btn {
  border: none;
  background-color: #D1A954;
  width: 359px;
  min-height: 72px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 112px 0 0;
}
@media (max-width: 1110px) {
  .footer {
    padding: 62px 0 0;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 0 0;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 64px 0 0;
  }
}
.footer .footer__contacts-wrp {
  display: flex;
  justify-content: space-between;
  margin: 0 0 100px;
}
.footer .footer__title {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 100%;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin: 0 0 50px;
}
.footer .footer__contacts-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1110px) {
  .footer .footer__contacts-list {
    flex-direction: column;
  }
}
.footer .footer__contacts-list--tel {
  width: 40%;
  margin-right: 9%;
}
.footer .footer__contacts-list--address {
  width: 51%;
}
@media (max-width: 1110px) {
  .footer .footer__contacts-list--address {
    align-items: end;
  }
}
.footer .footer__contacts-item-desc {
  font-style: normal;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
@media (max-width: 1110px) {
  .footer .footer__contacts-item-desc {
    font-size: 16px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin: 0 0 25px;
    display: block;
  }
}
.footer .footer__author-desc-wrp {
  font-family: "Open Sans", sans-serif;
  padding: 30px 0 41px;
  color: #989898;
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0rem;
  border-top: 1px solid #565656;
}

.partners {
  padding: 150px 0 0;
}
@media (max-width: 1110px) {
  .partners {
    padding: 187px 0 0;
  }
}
@media (max-width: 768px) {
  .partners {
    padding: 33px 0 0;
  }
}
@media (max-width: 576px) {
  .partners {
    padding: 10px 0 0;
  }
}
.partners .patrners__title {
  margin: 0 0 60px;
}
.partners .partners__list {
  display: flex;
  margin: 0 0 113px;
  justify-content: center;
}
@media (max-width: 1110px) {
  .partners .partners__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .partners .partners__list {
    flex-wrap: wrap;
    margin: 0 0 73px;
  }
}
@media (max-width: 576px) {
  .partners .partners__list {
    flex-direction: column;
    margin: 0;
  }
}
.partners .partners__item:nth-of-type(n+2) {
  margin-left: 78px;
}
@media (max-width: 1110px) {
  .partners .partners__item:nth-of-type(3n) {
    margin-left: 0;
  }
}
@media (max-width: 1110px) {
  .partners .partners__item:nth-of-type(n+3) {
    margin-top: 60px;
  }
}
@media (max-width: 576px) {
  .partners .partners__item:nth-of-type(n+1) {
    margin: 0 auto 73px;
  }
}
.partners .partners__btn {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .partners .partners__btn {
    width: 326px;
    height: 45px;
  }
}

.popup {
  display: none;
}
.popup Ñ‹ input::placeholder,
.popup textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  color: #989898;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0rem;
}
.popup input,
.popup textarea {
  background-color: #444444;
  border: 1px, #616161;
}
.popup .popup__hint {
  font-family: "Open Sans", sans-serif;
  color: #989898;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0rem;
}
.popup .popup__close-btn {
  background: transparent;
  border: none;
  color: inherit;
}

.projects {
  padding: 119px 0 0;
}
@media (max-width: 1110px) {
  .projects {
    padding: 78px 0 0;
  }
}
@media (max-width: 768px) {
  .projects {
    padding: 90px 0 0;
  }
}
@media (max-width: 576px) {
  .projects {
    padding: 26px 0 0;
  }
}
.projects .projects__title {
  margin: 0 0 113px;
}
@media (max-width: 1110px) {
  .projects .projects__title {
    margin: 0 0 94px;
  }
}
@media (max-width: 768px) {
  .projects .projects__title {
    margin: 0 0 60px;
  }
}
@media (max-width: 576px) {
  .projects .projects__title {
    margin: 0 0 20px;
  }
}
.projects .projects__list {
  display: flex;
}
.projects .projects__item {
  width: 33%;
  min-height: 478px;
  padding: 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
.projects .projects__item--oscar {
  background-image: url("../../img/webp/oscar.webp");
}
.projects .projects__item--goldgram1 {
  background-image: url("../../img/webp/gold_gram_1.webp");
}
@media (max-width: 576px) {
  .projects .projects__item--goldgram1 {
    display: none;
  }
}
.projects .projects__item--goldgram2 {
  background-image: url("../../img/webp/gold_gram_2.webp");
}
@media (max-width: 1110px) {
  .projects .projects__item--goldgram2 {
    display: none;
  }
}
@media (max-width: 1110px) {
  .projects .projects__item {
    width: 50%;
    min-height: 476px;
  }
}
@media (max-width: 768px) {
  .projects .projects__item {
    width: 50%;
    min-height: 502px;
  }
}
@media (max-width: 576px) {
  .projects .projects__item {
    width: 100%;
    min-height: 510px;
  }
}
.projects .projects__item-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.stars {
  padding: 209px 25px 0;
  width: 1110px;
  margin: 0 auto;
}
@media (max-width: 1110px) {
  .stars {
    padding: 125px 0 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .stars {
    padding: 162px 0 0;
    width: 100%;
  }
}
.stars .stars-wrp {
  background-image: url("../../img/webp/stars_fon.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 126px 165px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .stars .stars-wrp {
    padding: 126px 99px;
  }
}
@media (max-width: 576px) {
  .stars .stars-wrp {
    padding: 126px 76px;
    text-align: center;
  }
}
.stars .stars__year-item {
  text-transform: uppercase;
  font-size: 72px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #D1A954;
  margin: 0 0 25px;
}
@media (max-width: 576px) {
  .stars .stars__year-item {
    display: none;
  }
}
.stars .stars__content-wrp {
  width: 540px;
}
@media (max-width: 1110px) {
  .stars .stars__content-wrp {
    width: 457px;
  }
}
@media (max-width: 768px) {
  .stars .stars__content-wrp {
    width: 388px;
  }
}
@media (max-width: 576px) {
  .stars .stars__content-wrp {
    width: 441px;
  }
}
.stars .stars__img {
  padding: 7px 0 0;
  margin: 0 0 31px;
}
@media (max-width: 1110px) {
  .stars .stars__img {
    margin: 0 0 20px;
  }
}
@media (max-width: 768px) {
  .stars .stars__img {
    margin: 0 0 49px;
  }
}
@media (max-width: 576px) {
  .stars .stars__img {
    display: none;
  }
}
.stars .stars__title {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 700;
  letter-spacing: 0rem;
}
@media (max-width: 1110px) {
  .stars .stars__title {
    font-size: 34px;
    line-height: 150%;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .stars .stars__title {
    font-size: 29px;
    line-height: 150%;
    font-weight: 700;
  }
}
@media (max-width: 576px) {
  .stars .stars__title {
    font-size: 40px;
    line-height: 150%;
    font-weight: 700;
  }
}
.stars .stars__title-line {
  display: block;
}