$dark-gray: #333333;
$gold: #D1A954;
$white: #FFFFFF;
$gray: #989898;
$gray-bkg: #808080;
$wet-gray: #444444;
$border-gray: #616161;
$border-gray-footer: #565656;

$desktop-wide: 992px;
$tablet: 768px;
$mobile: 576px;
$mobile-small: 570px;

$font-family-condensed: 'Open Sans Condensed', sans-serif;
$font-family: 'Open Sans', sans-serif;