@use "variables" as *;
@use "mixins";

.btn {
    border: none;
    background-color: $gold;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    @include mixins.font-mixin(18px);
    @include mixins.flex-center();
}