@use "mixins";
@use "variables" as *;

.header {
    background: url("../img/webp/big_theatre_fon.webp");
    background-color: $gray-bkg;
    padding: 50px 0 179px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mixins.retina() {
        background: url("../img/webp/big_theatre_fon_2x.webp");
    }

    @include mixins.desctop-wide() {
        padding: 50px 0 363px;
    }

    @include mixins.tablet() {
        padding: 50px 0 252px;
    }

    @include mixins.mobile() {
        padding: 50px 0 85px;
    }

    .header__menu-btn {
        padding: 0;

        @include mixins.tablet() {
            background-color: transparent;
            border: none;
            display: block;
            margin: 0 0 107px;
        }
    }

    .header__menu-btn-icon {
        width: 40px;
        height: 40px;
    }

    .fluidwrp {
        padding: 0;
    }

    .collapsewrp {
        width: 100%;
        justify-content: space-between;
        margin: 0 0 307px;
        padding: 0;

        @include mixins.desctop-wide() {
            flex-direction: column;
            align-items: flex-start;

            @include mixins.font-mixin(16px);
                letter-spacing: 0.05rem;
                margin: 0 0 260px;
        }
    }

    .tabletwrp {
        width: 100%;

        @include mixins.tablet() {
            width: 300px;
        }
    }

    .header__nav {
        width: 100%;
    }

    .header__nav-wrp-close-btn {
        display: none;
        
        @include mixins.tablet() {
            display: block;
            background-color: transparent;
            border: none;
            padding: 0;
            margin-left: auto;
            margin-bottom: 78px;
        }
    }

    .header__nav-wrp-close-btn-icon {
        width: 32px;
        height: 32px;
    }

    .header__nav-list {
        display: flex;

        @include mixins.desctop-wide() {
            justify-content: space-between;
            margin: 0 0 29px;
        }

        @include mixins.tablet() {
            display: block;
            margin-bottom: 45px;
        }
    }

    .header__nav-link {
        text-transform: uppercase;

        @include mixins.font-mixin(18px);

        @include mixins.desctop-wide() {
            @include mixins.font-mixin();
        }

        @include mixins.tablet() {
            @include mixins.font-mixin(24px);
        }
    }

    .header__nav-item {
        &:not(:first-child) {
            margin-left: 7%;
        
            @include mixins.desctop-wide() {
                margin-left: 0;
            }

            @include mixins.tablet() {
                margin-top: 35px;
            }
        }
    }

    .header__tel {
        white-space: nowrap;
        letter-spacing: 0.05rem;
        text-align: end;
        border-bottom: 2px solid $gold;
        padding-bottom: 5px;

        @include mixins.font-mixin();
    }

    .header__content-wrp {
        @include mixins.flex-space-between();
    }

    .header__content {
        width: 48.6%;
        padding: 88px 0 0;

        @include mixins.desctop-wide() {
            padding: 0;
            width: 100%;
        }
    }

    .header__title {
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin: 0 0 50px;

        @include mixins.font-mixin(64px);

        @include mixins.mobile() {
            text-align: center;
        }
    }

    .header__desc {
        font-family: $font-family;
        letter-spacing: 0rem;
        margin: 0 0 50px;

        @include mixins.font-mixin(14px, 150%, 400);
    }

    .header__link-poster {
        width: 160px;
        min-height: 50px;

        @include mixins.mobile() {
            width: 100%;
            min-height: 62px;
            @include mixins.font-mixin(30px);
            letter-spacing: 0.1rem;
        }
    }


    .header__slider {
        width: 33.3%;

        @include mixins.desctop-wide() {
            display: none;
        }
    }
    .header__slider-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .header__slider-img {
        width: 100%;
        margin: 0 0 36px;
    }

    .header__btn-wrp {
        @include mixins.flex-space-between();

        &-left {
            cursor: pointer;
        };

        &-right {
            cursor: pointer;
        }
    }

    .header__btn {
        color: inherit;
        padding: 0 13px;
        border: none;
        background: transparent;
        text-transform: uppercase;
        letter-spacing: 0.1rem;

        @include mixins.font-mixin(18px);
    }
}