@use "mixins";

.projects {
    padding: 119px 0 0;

    @include mixins.desctop-wide() {
        padding: 78px 0 0;
    }

    @include mixins.tablet() {
        padding: 90px 0 0;
    }

    @include mixins.mobile() {
        padding: 26px 0 0;
    }

    .projects__title {
        margin: 0 0 113px;

        @include mixins.desctop-wide() {
        margin: 0 0 94px;
        }

        @include mixins.tablet() {
        margin: 0 0 60px;
        }

        @include mixins.mobile() {
        margin: 0 0 20px;
        }
    }

    .projects__item {
        min-height: 478px;
        padding: 34px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-sizing: border-box;

        &--oscar {
            background-image: url("../img/webp/oscar.webp");

            @include mixins.retina {
                background-image: url("../img/webp/oscar_2x.webp");
            }
        }
        &--goldgram1 {
            background-image: url("../img/webp/gold_gram_1.webp");

            @include mixins.retina {
                background-image: url("../img/webp/gold_gram_1_2x.webp");
            }

            @include mixins.mobile() {
                display: none;
            }
        }
        &--goldgram2 {
            background-image: url("../img/webp/gold_gram_2.webp");

            @include mixins.retina {
                background-image: url("../img/webp/gold_gram_2_2x.webp");
            }

            @include mixins.desctop-wide() {
                display: none;
            }
        }
    }

    .projects__item-title {
        text-transform: uppercase;
        letter-spacing: 0.05rem;

        @include mixins.font-mixin(24px);
    }
}