@use "mixins";

.projects {
    padding: 119px 0 0;

    @include mixins.desctop-wide() {
        padding: 78px 0 0;
    }

    .projects__title {
        margin: 0 0 113px;

        @include mixins.desctop-wide() {
        margin: 0 0 94px;
        }
    }


    .projects__list {
        display: flex;
    }

    .projects__item {
        width: 33%;
        min-height: 478px;
        padding: 34px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-sizing: border-box;

        &--oscar {
            background-image: url("../../img/webp/oscar.webp");
        }
        &--goldgram1 {
            background-image: url("../../img/webp/gold_gram_1.webp");
        }
        &--goldgram2 {
            background-image: url("../../img/webp/gold_gram_2.webp");
            @include mixins.desctop-wide() {
                display: none;
            }
        }

        @include mixins.desctop-wide() {
            width: 50%;
            min-height: 476px;
        }
    }

    .projects__item-title {
        text-transform: uppercase;
        @include mixins.font-mixin(24px);
        letter-spacing: 0.05rem;
    }
}