@use "mixins";
@use "variables" as *;

.stars {
    padding: 209px 25px 0;
    max-width: 1110px;
    margin: 0 auto;

    @include mixins.desctop-wide() {
        padding: 125px 0 0;
        width: 100%;
    }

    @include mixins.tablet() {
        padding: 162px 0 0;
    }

    @include mixins.mobile() {
        padding: 30px 0 0;
    }

    .stars-wrp {
        background-image: url("../../img/webp/stars_fon.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 126px 165px;
        
        @include mixins.desctop-wide() {
            padding: 126px 0;
        }

        @include mixins.mobile() {
            padding: 47px 0;
        }
    }

    .stars-content-wrp {
        max-width: 655px;
        margin: 0 auto;
        width: 90%;

        @include mixins.flex-space-between;
    }

    .stars__year-list {
        @include mixins.mobile() {
            display: none;
        }
    }
    .stars__year-item {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: $gold;
        margin: 0 0 25px;

        @include mixins.font-mixin(72px);
    }

    .stars__content-wrp {
        width: 74%;
        margin-left: 10%;

        @include mixins.desctop-wide() {
            width: 69.7%;
        }

        @include mixins.tablet() {
            width: 56.2%;
        }

        @include mixins.mobile() {
            width: 100%;
        }
    }

    .stars__img {
        padding: 7px 0 0;
        margin: 0 0 31px;

        @include mixins.desctop-wide() {
            margin: 0 0 20px;
        }

        @include mixins.tablet() {
            margin: 0 0 49px;
        }

        @include mixins.mobile() {
            display: none;
        }
    }
    

    .stars__img-icon {
        width: 50px;
        height: 52px;
        margin-right: 2%;
    }

    .stars__title {
        font-family: $font-family;
        letter-spacing: 0rem;

        @include mixins.font-mixin(36px, 150%);

        @include mixins.desctop-wide() {
            @include mixins.font-mixin(34px, 150%);
        }

        @include mixins.tablet() {
            @include mixins.font-mixin(29px, 150%);
        }
        
        @include mixins.mobile() {
            @include mixins.font-mixin(40px, 150%);
            font-family: $font-family;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .stars__title-line {
        display: block;
    }
}