@use "mixins";
@use "variables" as *;

.stars {
    padding: 209px 25px 0;
    width: 1110px;
    margin: 0 auto;
    @include mixins.desctop-wide() {
        padding: 125px 0 0;
        width: 100%;
    }
    @include mixins.tablet() {
        padding: 162px 0 0;
        width: 100%;
    }

    .stars-wrp {
        background-image: url("../../img/webp/stars_fon.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 126px 165px;
        @include mixins.flex-space-between;
        @include mixins.tablet() {
            padding: 126px 99px;
        }
        @include mixins.mobile() {
            padding: 126px 76px;
            text-align: center;
        }
    }

    .stars__year-item {
        text-transform: uppercase;
        @include mixins.font-mixin(72px);
        letter-spacing: 0.1rem;
        color: $gold;
        margin: 0 0 25px;

        @include mixins.mobile() {
            display: none;
        }
    }

    .stars__content-wrp {
        width: 540px;

        @include mixins.desctop-wide() {
            width: 457px;
        }
        @include mixins.tablet() {
            width: 388px;
        }
        @include mixins.mobile() {
            width: 441px;
        }
    }

    .stars__img {
        padding: 7px 0 0;
        margin: 0 0 31px;

        @include mixins.desctop-wide() {
            margin: 0 0 20px;
        }
        @include mixins.tablet() {
            margin: 0 0 49px;
        }
        @include mixins.mobile() {
            display: none;
        }
    }

    .stars__title {
        font-family: $font-family;
        @include mixins.font-mixin(36px, 150%);
        letter-spacing: 0rem;

        @include mixins.desctop-wide() {
            @include mixins.font-mixin(34px, 150%);
        }
        @include mixins.tablet() {
            @include mixins.font-mixin(29px, 150%);
        }
        @include mixins.mobile() {
            @include mixins.font-mixin(40px, 150%);
        }
    }

    .stars__title-line {
        display: block;
    }
}